extends ../layout

block content

    .container.d-flex.vh-100.align-items-center
        .mx-auto
            
            form.form-signin(method="post" action="/forgotPassword")
                h1.h3.mb-3.font-weight-normal Recupera tu contraseña
                if info
                    p.text-danger=info.message
            
                label.sr-only(for='inputEmail') Email
                input#inputEmail.form-control(type='email' name="email" placeholder='Email address' required='' autofocus='')
                br
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Recuperar
                p.text-center.mt-5.mb-3.text-muted @scpc_k2020
