<h1>Nueva bicicleta</h1>
<form action='/bicicletas/create' method="post">
<label for="id">ID</label>
<input type="text" name="id" id="id">
<br>
<label for="color">Color</label>
<input type="text" name="color" id="color">
<br>
<label for="modelo">Modelo</label>
<input type="text" name="modelo" id="modelo">
<br>
<label for="lat">Latitud</label>
<input type="text" name="lat" id="lat">
<br>
<label for="lng">Longitud</label>
<input type="text" name="lng" id="lng">
<br>
<input type="submit" value="OK">
</form>